/* General Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column; /* Flex layout para el body */
    min-height: 100vh; /* Altura mínima de la ventana */
}
/* Navbar */
.navbar {
    background-color: #fff;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar__logo{
    width: 70%;
    height: auto;
}

.navbar__container {
    display: flex;
    align-items: center; /* Centrar elementos verticalmente */
    justify-content: space-between; /* Espaciar elementos horizontalmente */
}

.navbar__menu {
    display: flex;
    gap: 2rem; /* Espacio entre los elementos del menú */
    align-items: center; /* Centrar elementos verticalmente */
}

.navbar__list {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center; /* Centrar elementos verticalmente */
    margin: 0;
    padding: 0;
}

.navbar__link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.navbar__link:hover {
    cursor: pointer;
    color: #000;
}

.navbar__button {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center; /* Centrar icono y texto del botón */
    justify-content: center;
    gap: 0.5rem; /* Espacio entre la imagen y el texto */
    transition: background-color 0.3s ease-in-out;
}

.navbar__button--carrito {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center; /* Centrar icono y texto del botón */
    justify-content: center;
    gap: 0.5rem; /* Espacio entre la imagen y el texto */
    transition: background-color 0.3s ease-in-out;    
}

.navbar__carrito--enlace {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.navbar__button--image {
    width: 32px;
    height: 32px;
}

.navbar__button--image-carrito {
    width: 32px;
    height: 32px;
}


.navbar__button:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid #000;
}

.navbar__button--carrito:hover {
    background-color: #ffffff;
    color: black;
    border: 1px solid #000;
}

.navbar__button--image img {
    width: 32px;
    height: 32px;
    -webkit-user-drag: none; /* Para WebKit */    
    transition: transform 0.3s ease;
}

.navbar__button--image--carrito img {
    width: 32px;
    height: 32px;
    -webkit-user-drag: none; /* Para WebKit */    
    transition: transform 0.3s ease;
}

.navbar__button:hover .navbar__button--image img {
    -webkit-user-drag: none; /* Para WebKit */    
    content: url('../img/salida.png'); /* Cambiar imagen al hacer hover */    
}

.navbar__carrito--enlace:hover .navbar__button--image-carrito img {
    -webkit-user-drag: none; /* Para WebKit */    
    content: url('../img/carrito.png'); /* Cambiar imagen al hacer hover */    
}

/* Header */


.page-content {
    flex: 1; /* Permite que el contenido principal ocupe todo el espacio disponible */
}

.header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 2%;
}

.header__title {
    font-size: 2rem;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Categories Section */
.categories {
    padding: 1rem;    
    margin: 0 auto;
    text-align: center;
}

.categories__title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.categories__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.categories__item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem;
    transition: background-color 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.categories__item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.categories__link {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
}

.categories__name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #8a5151;
}


/* Categoría seleccionada */
.categories__item.selected {
    background-color: #444242;
    color: #fff;
}

.categories__item.selected .categories__name {
    color: #fff;
}

.categories__item:hover .categories__name {
    color: #7d7e7e;
}

/* Products Section */
.products {
    padding: 1rem;
    display: none;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    margin-bottom: 10%;
}

.products__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.products__item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.products__item:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.products__item img {
    max-width: 100%;
    max-height: 250px;
    height: auto;
    object-fit: contain;
    margin-bottom: 1rem;
    -webkit-user-drag: none; /* Para WebKit */  
}

.products__item p {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.products__item button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.4rem 1.2rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Footer */
/* Footer */
.footer {
    background-color: #000;
    color: #fff;
    padding: 2rem 1rem;
    margin-top: 2rem;
}

.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.footer__text {
    font-size: 0.9rem;
}

.footer__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 0.9rem;
}

.footer__link {
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s ease-in-out;
}

.footer__link:hover {
    color: #fff;
}

.footer__separator {
    color: #666;
}
